.show-card {
  background-color: black;
  width: 320px;
  height: 240px;
  margin: 16px 24px;
}

.show-image {
  height: 75%;
}

.show-info {
  height: 25%;
  padding: 0 8px;
  background-color: white;
  p {
    margin: 0;
  }
}


