<div class="hero">
    <h1 class="text-center">Watson</h1>
    <h2>It's a pun of "What's On", get it?</h2>
    <p>Because this is where you keep track of what shows you're watching</p>
</div>
<div class="inner">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Popular Picks</h2>
    <%= link_to "Add a show +", new_show_path, class: "button-blue" %>
  </div>
  <div class="shows d-flex flex-wrap justify-content-center"><% @shows.each do |show| %>
      <div class="show-card round shadows">
        <div class="show-image"></div>
        <div class="show-info d-flex align-items-center">
          <p><%= link_to show.title, show_path(show) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
